##############################################################################
## Settings
##############################################################################

#accounts:              # Accounts csv file
#output-file            # Output file

#threads                # How many threads to start
#ignore-bad             # Ignores accounts with unvalidated e-mails and wrong credentials

#timeout:               # Amount of seconds to timeout after waiting for ptd

#email                  # E-mail to resend verifycation links to. accounts e-mail will be assumed as abc+<username>@def.com